@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0 100px;
    font-family: "Kumbh Sans", sans-serif;
}

button:hover {
    cursor: pointer;
}



.navbar {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger {
        display: none;
        cursor: pointer;

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            background-color: hsl(213, 5%, 45%);
            transition: all 0.3s ease-in-out;
        }

    }

    @media (max-width: 768px) {
        .hamburger {
            display: block;
            padding-right: 20px;
            z-index: 101;
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        .navMenu {
            z-index: 100;
            flex-direction: column;
            position: fixed;
            top: 0;
            left: -100%;
            width: 60%;
            height: 100%;
            background-color: hsl(0, 0%, 100%);
            padding: 100px 0 0 40px;
            transition: 0.3s;

        }

        .navMenu.active {
            left: 0;
        }

        .navBranding.active {
            transition: all 0.3s ease-out;
            color: transparent;
        }
    }

    a {
        text-decoration: none;
    }

    .navBranding {
        flex-grow: 1;
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
    }

    .navMenu {
        flex-grow: 6;
        display: flex;
        justify-content: flex-start;
        gap: 5%;
    }

    li {
        list-style: none;

        .navLinks {
            color: hsl(219, 9%, 45%);
        }
    }

    .cartProfile {
        position: relative;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        gap: 15%;

        .cartLogo {
            align-self: center;
            position: relative;

            .numberOfProduct {
                background-color: #ff7d1b;
                border-radius: 10px;
                font-size: 10px;
                padding: 0 5px;
                position: absolute;
                bottom: 70%;
                left: 10px;
            }
        }

        .profile {
            img {
                height: 50px;
                width: auto;
            }
        }

        .cartLogo, .profile:hover {
            cursor: pointer;
        }

        #cartOverlay {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            display: none;
            position: absolute;
            top: 110%;
            right: -20px;
            width: 350px;
            height: auto;
            box-shadow: 1px 10px 35px -4px rgba(0, 0, 0, 0.75);
            z-index: 999;

            

            hr {
                margin: 20px 0;
            }

            #productList {
                flex-direction: column;
                justify-content: center;

                .productImage {
                    height: 50px;
                    width: auto;
                    border-radius: 5px;
                }

                .product {
                    padding: 10px 0;
                    font-size: 16px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .deleteCart:hover {
                        cursor: pointer;
                    }

                    .productInfo {
                        padding: 0 15px;
                        color: hsl(213, 5%, 45%);

                        .totalPrice {
                            font-weight: bold;
                            color: #000;
                        }
                    }
                }

                .checkout {
                    padding: 10px 0;
                    font-weight: bold;
                    color: #fff;
                    background-color: hsl(26, 100%, 55%);
                    border: none;
                    border-radius: 10px;
                }

                
            }
        }
        @media (max-width: 768px) {
            #cartOverlay {
                width: 80vw;
            }
        }
    }
}

hr {
    border: none;
    height: 1px;
    background: hsl(225, 7%, 89%);
    margin-bottom: 50px;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    #leftContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .mainImageContainer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .mainImage {
                width: 60%;
                height: auto;
                border-radius: 5%;
            }

            .next,
            .previous {
                display: none;
            }
        }

        .thumbnailImage {
            margin-top: 20px;
            max-height: 100px;
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                position: relative;
                max-width: 20%;
                height: auto;
                border-radius: 5%;
            }

            .selected {
                border: 5px solid hsl(26, 100%, 55%);
                opacity: 0.5;
            }
        }
    }

    #rightContainer {
        flex: 1;
        display: flex;
        flex-direction: column;

        #rightContainerTop {
            padding-right: 20%;

            .company {
                color: hsl(26, 100%, 55%);
                font-size: 1rem;
                display: block;
                padding: 10px 0;
            }

            .sneakerName {
                font-weight: bolder;
                font-size: 2rem;
                padding: 10px 0;

            }

            .description {
                font-size: 16px;
                color: hsl(219, 9%, 45%);
                padding: 10px 0;
            }

            .price {
                margin-bottom: 20px;

                .discountPrice {
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-right: 15px;
                }

                .discount {
                    color: hsl(26, 100%, 55%);
                    background-color: hsl(25, 100%, 94%);
                    padding: 4px;
                    border-radius: 5%;
                }

                .fullPrice {
                    font-size: 1rem;
                    text-decoration: line-through;
                    color: hsl(219, 9%, 45%);
                }

            }

        }

        #rightContainerBottom {
            padding-right: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .counter {
                background-color: hsl(230, 60%, 98%);
                width: 30%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 5px;
                padding: 10px 10px 10px 10px;

                button {
                    border: none;
                    background-color: transparent;
                    font-size: 18px;
                }

                button:hover {
                    cursor: pointer;
                }

                .minus {
                    img {
                        padding-bottom: 3px;
                    }
                }


            }

            .cart {
                width: 60%;
                border: none;
                background-color: hsl(26, 100%, 55%);
                border-radius: 8px;
                font-family: Arial;
                color: #ffffff;
                font-size: 20px;
                background: #ff7d1b;
                padding: 10px 40px 10px 40px;
                text-decoration: none;
            }

            .cart:hover {
                box-shadow: 0px 9px 30px #f5cdb1;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        padding: 0 40px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 99;
        display: none;
    }

    hr {
        display: none;
    }

    main {
        flex-direction: column;

        #leftContainer {
            padding: 0;

            .mainImageContainer {
                width: 100vw;
                position: relative;

                .mainImage {
                    width: 100vw;
                    border-radius: 0%;

                }

                .next,
                .previous {
                    display: block;
                    position: absolute;
                    height: 22px;
                    width: auto;
                    padding: 7px 10px;
                    background-color: #fff;
                    border-radius: 50%;
                }

                .next,
                .previous:hover {
                    cursor: pointer;
                }

                .next {
                    right: 5%;
                }

                .previous {
                    left: 4%;
                }
            }

            .thumbnailImage {
                display: none;
            }
        }

        #rightContainer {
            padding: 0;
            margin-bottom: 20px;

            #rightContainerTop {
                padding: 0;

                #price {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;

                    br {
                        display: none;
                    }

                    .spacer {
                        flex-grow: 2;
                    }
                }

            }

            #rightContainerBottom {
                flex-direction: column;
                gap: 15px;
                padding: 0;

                .counter,
                .cart {
                    width: 100%;
                    padding-right: 0;
                    padding-left: 0;
                }



            }
        }
    }
}